body{
    font: normal 18px Arial;
    background-color: rgb(248, 187, 187);
    color: white;
}
header{
    text-align: center;
}
section{
    text-align: center;
    background-color: rgb(241, 72, 72);
    border-radius: 10px;
    padding: 10px;
}
footer{
    text-align: center;
    font-weight: lighter;
    font-size: small;
}
img{
    width: 200px;
    border-radius: 20px;

}